* {
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
}

.main-img2 {
    background-image: url(img2/IMG_20191226_060238.jpg);
    -webkit-bacground-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}
.main-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
p{
    text-align: left;
    margin-left: 1rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-text p {
    padding: 0 8%;
    font-family: merienda;
}
ul li {
    list-style: none;

}
ul {
    display: flex;

}
li{
    padding: 1rem;

}
a {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    list-style: none;
}
