* {
    box-sizing: border-box;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
}

.main-img {
    background-image: url(img2/me.jpg);
    -webkit-bacground-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}
.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
h3{
    text-align: left;
    margin-left: 3.5rem;
    margin-top: 2rem;
    margin-bottom: -0.80rem;
}
p{
    text-align: left;
    margin-left: 1rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-text p {
    padding: 0 8%;
    font-family: merienda;
}
ul li {
    list-style: none;

}
ul {
    display: flex;

}
li{
    padding: 1rem;

}
a {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid blue;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    list-style: none;
}
.main-img2 {
    background-image: url(img2/boracay.jpg);
    -webkit-bacground-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}
.main-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
.main-img3 {
    background-image: url(img2/sea.jpg);
    -webkit-bacground-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}
.main-text3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 40%;
    padding: 32px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}

.main-text4{
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
textarea{
    color: #fff;
    background-color: rgba(153, 92, 92, 0);
}
.buttom-link{
    position: absolute;
    top:  70%;
    left: 48%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 0px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}